body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    flex-direction: column;
}
#game {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#notcoin {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
}
#score {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
}
#timer {
    position: absolute;
    bottom: 20px;
    font-size: 18px;
}
